<div class="four_eyes_container">
  <h1>Action</h1>

  <table>
    <tr>
      <td>ID</td>
      <td><%= @action.id %></td>
    </tr>
    <tr>
      <td>Date</td>
      <td><%= @action.created_at %></td>
    </tr>
    <tr>
      <td>Action</td>
      <td><%= @action.action_type %></td>
    </tr>
    <tr>
    <td>Maker </td>
    <td><%= @action.maker_type %></td>
  </tr>
    <tr>
      <td>Maker ID</td>
      <td><%= @action.maker_id %></td>
    </tr>

    <tr>
      <td>Assignee </td>
      <td><%= @action.assignable_type %></td>
    </tr>
    <tr>
      <td>Assignee ID</td>
      <td><%= @action.assignable_id %></td>
    </tr>

    <tr>
      <td>Checker </td>
      <td><%= @action.checker_type %></td>
    </tr>
    <tr>
      <td>Checker ID</td>
      <td><%= @action.checker_id %></td>
    </tr>
    <tr>
      <td>Object</td>
      <td><%= @action.object_resource_type %></td>
    </tr>
    <tr>
      <td>Object ID</td>
      <td><%= @action.object_resource_id %></td>
    </tr>
    <tr>
      <td>Data</td>
      <td><%= @action.data.to_s %></td>
    </tr>
    <tr>
      <td>Status</td>
      <td><%= @action.status %></td>
    </tr>
  </table>
</div>
